[submodule "thirdparty/fph-table"]
	path = thirdparty/fph-table
	branch = master
	url = https://github.com/renzibei/fph-table.git
[submodule "thirdparty/abseil-cpp"]
	path = thirdparty/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "thirdparty/robin-hood-hashing"]
	path = thirdparty/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "thirdparty/ska_flat_hash_map"]
	path = thirdparty/ska_flat_hash_map
	url = https://github.com/skarupke/flat_hash_map.git
[submodule "thirdparty/tsl-robin-map"]
	path = thirdparty/tsl-robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "thirdparty/HdrHistogram_c"]
	path = thirdparty/HdrHistogram_c
	url = https://github.com/HdrHistogram/HdrHistogram_c.git
[submodule "thirdparty/fph-table-noseed"]
	path = thirdparty/fph-table-noseed
	branch = noseed
	url = https://github.com/renzibei/fph-table.git
